@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222222;
  font-family: 'Ubuntu', sans-serif;
}

div{
  position: relative;

}

#rangeValue{
  position: absolute;
  top: 2px;
  right: -60px;
  padding: 2px;
  width: 50px;
  box-sizing: border-box;
  background: #ffffff;
  text-align: center;
}

#rangeValue::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  left: -5px;
  width: 10px;
  height: 10px;
  background: #ffffff;
}

.range{
  width: 400px;
  height: 2px;
  background: #111111;
  -webkit-appearance: none;
  outline: none;
  border-radius: 2px;
}

.range::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00bcd4; 
}
