body{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form{
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

label{
  display: block;
}

[type=checkbox] + label{
  display: inline-block;
}