body{
  margin: 0;
  padding: 0;
  background: #888888;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.circle{
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.circle::before{
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #333333,
              0 0 0 20px #444444,
              0 0 0 30px #555555,
              0 0 0 40px #666666,
              0 0 0 50px #777777,
              inset 0 0 40px rgba(0,0,0,0.5);
}

.dots{
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  animation: animate 10s linear infinite;  
}

.dots::before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  left: calc(50% - 5px);
  top: 0;
  box-shadow: 50px 0 0  #ffffff,
              -65px -50px 0 #ffffff,
              -65px 50px 0 #ffffff,
              -55px 0 0 #ffff00,
              45px 35px 0 #ffff00,
              -40px -40px 0 #ffff00,
              40px -40px 0 #ffffff,
              55px -59px 0 #ffffff;

animation: animate 10s linear infinite;  
}

.dots::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  left: calc(50% - 5px);
  bottom: 0;
  box-shadow: -50px 0 0  #ffffff,
              65px 50px 0 #ffffff,
              65px -50px 0 #ffffff,
              55px 0 0 #ffff00,
              -45px -35px 0 #ffff00,
              40px 40px 0 #ffff00,
              -40px 40px 0 #ffffff,
              -55px 59px 0 #ffffff;

animation: animate 10s linear infinite;  

}

@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}