.container {
  display: flex; /*inline-flex;*/
  flex-wrap: wrap;
  flex-direction: column;
  border: 10px solid gold;
  height: 100vh;
}

.box{
  flex-basis: 150px;
  flex-grow: 1;
}
.box1{
  flex-basis: 100px;
}
.box2{
  flex-basis: 120px;
}
.box3{
  flex-grow: 5;
}