.modal-header h2,
.modal-footer h3{
  margin: 0;
}

.modal-header{
  background: coral;
  padding: 15px;
  color: #ffffff;
}

.modal-body{
  padding: 10px 20px;
}

.modal-footer{
  background: coral;
  padding: 10px;
  color: #ffffff;
  text-align: center;
}